Nav {
  background-color:rgb(250,229,150);
    /* background-image: url(cream.jpg); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.0975); */
    /* margin-bottom: 5px; */
   
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    -webkit-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    height: 88px;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Nova Oval' ;
    font-size: 46px;
    color:#173e43;
    text-shadow: 3px 3px 6px #fae596;
  }
  .Nav-menus {
    display: flex;
    flex-direction: row;
    height: 77px;
    width: 70%;
    margin: 0 auto;
    padding: 26px 40px;
  }
  .Nav-brand-logo {
    display: block;
    background-position: -176px 0px;
    background-image: url(../../sprite.png);
    background-size: 405px 379px;
    background-repeat: no-repeat;
    height: 35px;
    width: 176px;
    text-indent: -1000%
  }
 