

.navCont {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(250,229,150);
  
 
}

.navbar {
  height: 64px;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.navbar > * {
  flex: 0 0 auto;
  padding: 14px 16px;
}


/* Change the color of links on hover */
.navbar a:hover {
  background-color: #3fb0ac;
  color: black;
  border-radius: 25%;
}

img {
  width: 32px;
  max-width: 100%;
  height: auto;
}